<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shiny Pokémon Tournament</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pokemon_minimal.css') }}">
</head>
<body>
    <div class="split-container">
        <div class="split half left" id="left-half">
            <img id="left-pokemon" class="pokemon-img grayscale" src="" alt="Left Pokémon">
        </div>
        <div class="split-divider"></div>
        <div class="split half right" id="right-half">
            <img id="right-pokemon" class="pokemon-img grayscale" src="" alt="Right Pokémon">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/pokemon_minimal.js') }}"></script>
</body>
</html> 